.contact-details {
  // outline: 1px solid #ccc;
  // width: 500px;
  margin: 0 auto;
  margin-bottom: 2em; 
  th {
    padding-right: .5em;
  }
  th, td {
    vertical-align: baseline;
    padding-bottom: .7em;
  }
}
